.profile-page-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.profile-feed{
    background-color: rgb(242, 180, 99);
    height: 500px;
    border-radius: 15%;
}

.about-me{
    background-color: rgb(242, 180, 99);
    height: 500px;
}

.icon-tab-style {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.text-tab-style {
    padding-top: 6px;
}

.tabs {
    margin-right: 10px;
}