.profile-page-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.profile-feed{
    background-color: rgb(242, 180, 99);
    height: 500px;
    border-radius: 15%;
}

.about-me{
    background-color: rgb(242, 180, 99);
    height: 500px;
}