body{
    width: 100%;
    height: 600vh;
    background-color: aquamarine;
}
form{
    margin: 0 auto;
}
h1 {
    margin: 0 auto;
    font-size: 50px;
    text-align: center;
    width: 100%;
    color: whitesmoke;
}
.form-group{
    display: flex;
    text-align: center;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 15px;
}
.form-group label{
    color: black;
    width: 25%
}

.form-group input{
    width: 60%;
    height: 30px;
    background-color: white;
    
}
.button-register{
  
    background-color: black;
    color: white;
    font-size: 20px;
    margin-right: 25%;
    margin-left: 25%;
}