
.search-ul{
    list-style-type: none;
    color: #9f9f9f;
    display: block;
    background-color: #3b8ad9;
    margin-top: 0px;
    border-bottom-left-radius: 20px;
    padding-right: 14px;
}
.search-box {
    margin-top: 0rem;
    -webkit-backdrop-filter: blur(21px) brightness(1.2);
    backdrop-filter: blur(21px) brightness(1.2);
    margin-left: 0rem;
    
    align-self: flex-start;
    justify-self: flex-end;
}

.btn:hover{
    color: #0b2540;
    background-color: #9c913f;
    border-color: #9c913f;
    cursor: pointer;
}

.btn-primary {
    color: #9f9f9f;
    font-weight: bolder;
    background-color: #3b8ad9;
    display: table;
    padding: 15px;
    border-radius: 10px;
}
.ul-div {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    z-index: 1;   
}